*{
    box-sizing: border-box;
    
}


html {
    font-size: 10px;
    background: $color-primary;
    color: $color-light;
    @extend %font-primary;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
}



h1 {
    @extend %font-add;
    @include font(6rem, 12rem, 700, normal);
    
}

h2 {
    @extend %font-add;
    @include font(4rem, 8rem, 700, normal);
    color: $color-gold;
    /// tratata
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;

}

h3 {
    @extend %font-add;
    @include font(2.8rem, 5.6rem, 700, normal);
    text-align: center;
}

h4 {
    @extend %font-primary;
    @include font(2rem, 4rem, 700, normal);
}

a {
    position: relative;
    color: $color-light;
    text-decoration: none;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: $color-gold;
    }    

    &:hover{           
        color: $color-gold;      
        
        &::before{
            width: 100%;
            transition: .5s;
        }
    }    
}



@media (max-width: 768px) {
    h1 {
        @include font(3.2rem, 6.4rem, 400, normal);        
    }

    h2 {
        @include font(3.2rem, 4.022rem, 700, normal);
    }

}