@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter-Regular.ttf);
    font-weight: 400;
    /* src: url(./fonts/Inter-Regular.ttf); */
}

@font-face {
    font-family: Inter;
    /* src: url(./fonts/Inter-Bold.ttf); */
    src: url(../../fonts/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Merriweather;
    /* src: url(./fonts/Merriweather-Bold.ttf); */
    src: url(../../fonts/Merriweather-Bold.ttf);
    font-weight: 700;
}