.portfolio__buttons-block{
    padding-top: 26px;
    max-width: 895px;
    margin: 0 auto;
}

.portfolio__image{
    padding-top: 60px;
}

.portfolio__image{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.portfolio{
    margin-top: -8px;
}