.price__card {
    padding: 12px 12px 40px 12px;
    width: 450px;
    border: 3px solid $color-gold;
}

.price__card-title{
    padding-top: 2px;
    
}

.price__card-costs{
    @extend %font-add;
    @include font(2.4rem, 4.8rem, 700, normal);
    color: $color-gold;
    text-align: center;
    margin-top: -5px;
    
    
}

.price__card-content{
    display: block;
    @include font(1.8rem, 3.6rem, 400, normal);
    margin: 0 auto;
    text-align: center;
}

.price__card_button{
    padding-top: 38px;
    text-align: center;
}

.price__card_content-block{
    margin-top: -5px;
}




