.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 3px;

}

.header-container{
    background-image: url(../img/header/background-header.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.header__links{
    padding: 0 15px;
    @include font(2rem, 5rem, 400, normal);
    list-style: none;
}

.header__language_choose{
    @include font(2rem, 5rem, 400, normal);
}

.header__language_colored {
    color: $color-gold;
}

.navigation-item{
    display: flex;
}

.header__navigation {
    margin-left: auto;
    margin-right: 14px;
}

.header__language_slash{
    padding: 0 8px;
}

.hero__button{
    margin-top: 5px;
}

.adaptive__menu{
    display: none;
}

@media (max-width: 768px) {
    .header__navigation {
        display: none;
    }

    .adaptive__menu{
        display: block;
        cursor: pointer;
        &:hover .burger_line {
            background-color: $color-gold;
            transition: all .5s;
        }

    }

    .burger_line{
        display: block;
        background-color: white;
        width: 50px;
        height: 3px;
        margin: 5px auto;
        transition: all .5s ease-in-out;
    }

    #hamburger-1.is-active .line:nth-child(2){
        opacity: 0;
      }

      .is-active .burger_line {
        background-color: red;
      }
      
      #hamburger-1.is-active .line:nth-child(1){
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
      }
      
      #hamburger-1.is-active .line:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
      }
      


}